body {
    word-break: break-all;
}

.ng-enter{
    transition: 0.75s;
    opacity: 0;
}

.ng-enter-stagger{
    transition-delay: 0.1s;
}

.ng-enter-active{
    opacity: 1;
}

.ng-live{
    transition: 0.75s;
    opacity: 1;
}

.ng-live-stagger{
    transition-delay: 0.1s;
}

.ng-leave-active{
    opacity: 0;
}

.angular-ui-tree-empty{ display: none; }

