
%h2.text-center
  SIMPLE TODO LISTS
  %h4.text-center
    From Ruby Garage
%div.row
  %div.col-md-6.col-md-offset-3
    %form{name: "myForm", novalidate: "true", class: "myForm"}
      %div.input-group
        %span.input-group-addon
          %span.glyphicon
        %input.form-control{name: "uProject", type: "text",
                                           placeholder: "Input your Project",
                                           "ng-model": "project.title",
                                           "ng-required": "true"}

        %span.input-group-btn
          %button.btn.btn-default{"ng-click": "addProject(project)", "ng-disabled": "myForm.$invalid"}
            Add

    %div{"ng-show": "myForm.uProject.$invalid" && "myForm.uProject.$dirty"}
      %h4.text-danger
        {{getError(myForm.uProject.$error)}}
    %br

    %div{"ng-repeat": "project in projects"}
      %div.panel.panel-primary
        %div.panel-heading
          %div.row
            %span.col-md-1.glyphicon.glyphicon-calendar
            %span.h4.col-md-9 {{project.title}}

            %span.col-md-1.glyphicon.glyphicon-pencil{"ng-click": "edit(project)"}
            %span.col-md-1.glyphicon.glyphicon-trash{"ng-click": "destroy(project)"}

        -#Task
        %div{"ng-controller": "taskCtrl"}
          %div.panel-body
            %div.row
              %form{name: "myForm", novalidate: "true", class: "myForm"}
                %div.input-group
                  %span.input-group-addon
                    %input{type: "checkbox", "ng-model": "task.completed", name: "uCheckBox"}

                  %input.form-control{name: "uTask", type: "text",
                                                     placeholder: "Input your task",
                                                     "ng-model": "task.text",
                                                     "ng-required": "true"}

                  %span.input-group-btn
                    %button.btn.btn-success{"ng-click": "addTask(task, project)", "ng-disabled": "myForm.$invalid"}
                      Add Task

            %div{"ng-show": "myForm.uTask.$invalid" && "myForm.uTask.$dirty"}
              %h4.text-danger
                {{getError(myForm.uTask.$error)}}

          %div.well.well-lg{"ng-repeat": "task in tasks | orderBy: 'priority'", "ng-class": "task.completed === true ? 'green' : ''"}
            %div.row
              %input.col-md-1{type: "checkbox", name: "tCheckBox", "ng-model": "task.completed", "ng-click": "editCheckBox(task)"}

              %span.col-md-7{id: "viewTask"}
                {{task.text}}


              %span.glyphicon.glyphicon-arrow-up.col-md-1{"ng-click": "up(task)"}

              %span.glyphicon.glyphicon-arrow-down.col-md-1{"ng-click": "down(task)"}

              %span.glyphicon.glyphicon-pencil.col-md-1{"ng-click": "edit(task, project)"}

              %span.glyphicon.glyphicon-trash.col-md-1{"ng-click": "destroy(task)"}





