%div.navbar
  %div.navbar-header
    %div.navbar-brand
      The Task
  -if user_signed_in?
    %ul.nav.navbar-nav
      = link_to('Home', root_path, class: "btn btn-info")
    %ul.nav.navbar-nav.navbar-right
      %li
        %li
          %h4
            Welcome
            =current_user.email
        %li
          %div= button_to('Sign out', destroy_user_session_path,
                      :method => :delete, class: "btn btn-info")
        -if can? "admin", :rails_admin
          %li
            %div= link_to('Admin panel', rails_admin_path, class: "btn btn-info")



